RewriteEngine On

# HTTPS majburiy (optional)
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# API
RewriteRule ^api(/(.*))?$ api/web/$2 [L,QSA]

# Backend (sizda sarmin)
RewriteRule ^sarmin(/(.*))?$ backend/web/$2 [L,QSA]

# Frontend (default)
RewriteRule ^(.*)$ frontend/web/$1 [L,QSA]